{% extends 'layout.html.twig' %}

{% block title %}
   A propos
{% endblock %}

{% block content %}
   <div id="aboutUs">
   <h2>Notre histoire ...</h2><br>
   <p>Derniere "Pépites" il y a un groupe de copines en quête de bons plans et de bons plats !
      Tout a commencé sur les reseaux sociaux lors que l'un d'entre nos est arrivée dans une nouvelles villes et s'est retrouvée un peu seul. Comment retrouver un peu de repères lorsqu'on ne connait ni le lieu ni les gens ? C'est la que "pépites" a commencé à naitre. Un grope 100% feminin pour aider chacune d'entre nous dans sa nouvelle vie ou son quotidien.
      Un moyen de se faciliter la vie en quelques clics pour tout et n'importe quoi<br>
      Trouver le meilleur coiffeur pour un ballayage tie & die ? Echanger une robe contre une paire de chaussure ? emprunter un siege auto pour le weekend ? Avoir besoin d'un avis sur un medecin ou un restaurant ? Etre à court de lait infantile un jour férié ?
      Les pépites sont là pour faire des miracles</p>
   </div>
{% endblock %}