{% extends 'layout.html.twig' %}

{% block title %}
   Categories
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>

                    <div class="square1"><h3><a href="index.php?action=garde" class="titleCategory">Garde enfant</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                            <i class="fas fa-child"></i>
                        </span>
                    </div>

                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="index.php?action=immo" class="titleCategory">Location / Vente</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                            <i class="fas fa-home"></i>
                        </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"> <h3><a href="index.php?action=troc" class="titleCategory">Vente/ Troc</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                           <i class="fas fa-exchange-alt"></i>
                        </span>
                    </div>
                </figure>


            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="index.php?action=lifestyle" class="titleCategory">Lifestyle</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                            <i class="fas fa-utensils"></i>
                        </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="index.php?action=sorties" class="titleCategory">Sorties / Loisirs</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                            <i class="fas fa-paint-brush"></i>
                        </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="index.php?action=humeur" class="titleCategory">Humeur du jour </a></h3>
                        <span style="font-size: 50px; color: #000000;">
                            <i class="far fa-smile"></i>
                        </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"> <h3><a href="index.php?action=sport" class="titleCategory">Sport</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                            <i class="fas fa-futbol"></i>
                        </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"> <h3><a href="index.php?action=bonsPlans" class="titleCategory">Bons Plans</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                             <i class="far fa-bell"></i>
                        </span>
                    </div>
                </figure>
            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="index.php?action=aide" class="titleCategory">Aide / SOS</a></h3>
                        <span style="font-size: 50px; color: #000000;">
                            <i class="fas fa-heart"></i>
                        </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="index.php?action=autres" class="titleCategory">Autres</a></h3>
                        <span style="font-size: 25px; color: #000000;">
                            <i class="fas fa-comments"></i>
                        </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="#" class="titleCategory">Voyages</a></h3>
                    <span style="font-size: 50px; color: #000000;">
                    <i class="fas fa-plane"></i>
                    </span>
                    </div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="portfolio-content">
                <figure>
                    <div class="square1"><h3><a href="#" class="titleCategory">-</a></h3></div>
                </figure>

            </div><!-- .portfolio-content -->
        </div><!-- .col -->

    </div><!-- .row -->
{% endblock %}