{% extends 'layout.html.twig' %}

{% block title %}
    Sport
{% endblock %}

{% block navbar %}

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-8">
            <div class="mainContent">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="secondContent">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}


{% endblock %}