{% extends 'layout.html.twig' %}

{% block title %}
   Contacts
{% endblock %}

{% block content %}
   <div id="contact">
   <h2>Les pépites</h2>
   <p> 6 rue de l'étincelle</p>
      <p>  44000 Nantes</p>
      <br>
      <br>

   <p>  NANTES : pepitesnantaises@gmail.com</p><br>
   <p>  BORDEAUX : pepitesbordeaux@gmail.com</p><br>
   <p> LYON : pepiteslyonnaise@gmail.com</p><br>
   </div>

{% endblock %}