{% extends 'layout.html.twig' %}

{% block title %}
   Modifier votre publication
{% endblock %}

{% block navbar %}
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-8">
            <h1>Modifier votre publication</h1>
            <div class="mainContent">
                <div class="PostContent">
                    <form action="index.php?action=updatePost&id={{ post.id }}" method="post">
                         <div>
                            <label for="contentNewPost"></label><br/>
                            <textarea id="contentNewPost"  name="contentNewPost" >{{ post.content }}"</textarea>

                             <label for="IdCategory" ></label><br/>

                            <select id="IdCategory" name="category" value="category" >
                                <option value="1">Garde Enfant</option>
                                <option value="2">Immobilier Loc / vente</option>
                                <option value="3">Vente / Troc</option>
                                <option value="4">Lifestyle</option>
                                <option value="5">Sortie / Loisirs</option>
                                <option value="6">Humeur du jour</option>
                                <option value="7">Sport</option>
                                <option value="8">Bons plans</option>
                                <option value="9">Aide / SOS</option>
                                <option value="10">Voyages</option>
                                <option value="11">Autres</option>
                            </select>
                             <br>

                         </div>
                        <div>
                            <input type="submit" id="publierPost" class="btn btn-secondary btn-lg btn-block" value="Mettre à jour la publication"/><br>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-6 col-md-4">
            <div class="secondContent">
            </div>
        </div>
    </div>
    {% endblock %}

{% block content %}


{% endblock %}