{% extends 'layout.html.twig' %}

{% block title %}
modifiez commentaire
{% endblock %}
{% block welcomeUser %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="row">
                <div class="mainContent">

                        <div class="writeCommentPart">
                            <form action="index.php?action=updateComment&amp;id={{ comment.id }}" method="post">
                                <label for="contentNewComment"></label><br/>
                                <textarea class="form-control" id="contentNewComment" name="contentNewComment" >{{ comment.content }}</textarea><br>
                                <input class="btn btn-outline-secondary" id="btnNewComment" type="submit" value="mise à jour du commentaire"/>
                            </form>
                        </div>
                    </div>

                     <div class="postSeparation"></div>


            </div>

        </div>


{% endblock %}