{% extends 'layout.html.twig' %}

{% block title %}
   Erreur
{% endblock %}
{% block welcomeUser %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="row">
        <h2>Erreur</h2>
        <div class="col-12 col-sm-6 col-lg-8">
    </div>

{% endblock %}