<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="utf-8"/>
    <title>Pépites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link href="public/css/style.css" rel="stylesheet"/>
    <link href="public/css/responsive.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
<div id="blockHP">
    <img alt="homepageimg" id="homepageimg" src="public\img\image1All50.jpg">
    <div id="homepageLogo">Pépites</div>
    <p id="accroche">Bons plans 100% féminin</p>
    <div id="containerHomePage">
        <p class="accroche2"> Un groupe de copine à grande echelle ... Les pépites se sont des bons plans dans ta ville
            pour vous faciliter la vie, trouver un peu de réconfort, partager et échanger sur tout et n'importe quoi
            <br>

            Trouver le meilleur coiffeur pour un ballayage tie & die ? Echanger une robe contre une paire de chaussure ?
            emprunter un siege auto pour le weekend ? Avoir besoin d'un avis sur un medecin ou un restaurant ? Etre à
            court de lait infantile un jour férié ? <br>
            ...Les pépites sont là pour faire des miracles...</p>
    </div>
</div>
<header>
    <div id="login">
        <form action="index.php?action=login" method="POST">
            <label> Identifiant <input type="text" class="form-control" name="username" required /></label>
            <label> Mot de passe <input type="password" name="password" class="form-control" required/></label>
            <input class="btn btn-outline-info" type="Submit"/>
        </form>
        <p>Pas encore de compte ?</p><a href="index.php?action=newUser">Rejoignez-nous !</a>
    </div>

</header>

<footer>

</footer>
</body>
</html>

