<!DOCTYPE html>
<html lang="FR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link href="public/css/style.css" rel="stylesheet"/>
    <link href="public/css/responsive.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

</head>
<body>
<img id="imageCouverture" alt="imageCpuverture" src='public\img\image1.jpg'>
<div id="logo">Pépites</div>
<header>

    <div id="container_page">
        {% block welcomeUser %}{% endblock %}
        {% block navbar %}{% endblock %}
        {% block message %}{% endblock %}
        <?php if (isset($_SESSION['message'])) { ?>
        <p class="alert alert-<?= $_SESSION['message']['type'] ?>"><?= $_SESSION['message']['message'] ?></p>
        <?php unset($_SESSION['message']) ?>
        <?php } ?>
        {% block content %}{% endblock %}
    </div>

</header>
<footer>
    <div id="footerinfo">
        <ul>
            <li><a href="xx">Les différentes pépites</a></li>
            <li><a href="xx">Le reseau</a></li>
            <li><a href="xx">Contact</a></li>
            <li><a href="xx">rejoingnez la communauté</a></li>
        </ul>
    </div>
    <img alt="imageFooter" id="imageFooter" src="public\img\footer.jpg">


</footer>
</body>
</html>

